table.detail-fields > tbody > tr > td.caption {
  vertical-align: top;
}

.detail_form > fieldset > p.detail_section {
    font-size: 20pt;
    text-decoration: underline;
}

p.detail_title,
div.detail_panel > p.title {
    font-size: 16pt;
}

#field_detail,
div.detail_panel {
    border: 1px solid lightgrey;
    margin: 10px 0px 0px 0px;
    padding: 10px;
}

table.tames-detail-frame {
  border-collapse:collapse;
}

tr.tames-detail-row:not(:last-child) {
  border-bottom: 1px gray solid;
}

tr.tames-detail-row > td {
  padding : 10px 10px 10px 10px;
  white-space : nowrap;
}
